<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="/socket.io/socket.io.js"></script>

    <script>

// CALL ROUTE ON SERVER TO DELETE DB OF MESSAGES TO START FRESH WITH NEW USER,  BY DOWNLOADING CHAT A PERMANANET DOCUMENT CAN BE KEPT AND SAVED
(async ()=>{
  await fetch("http://localhost:9090/chat/deleteAllMessages", {method: "DELETE", headers: {"Content-Type": "application/json"}, body: null})
})()

        const socket = io();

// FUNCTION FOR  CREATING AND FORMATTING NEW MESSAGE FOR CHAT
function addNewMessage(msg, user){
        
      let chatHistory = document.getElementById("chat-history")
        let newChatDivContainer = document.createElement('div');
        let newMessageDiv = document.createElement("div")
        let newChatMessageUname = document.createElement('h5');
        let newChatMessageDate = document.createElement('p');
        let newChatMessageMessage = document.createElement('p');

        let newMessageUname = document.createTextNode(msg.uname);
        let newMessageDate = document.createTextNode(msg.dateTime);
        let newMessageMessage;
        user == "client" ? newMessageMessage = document.createTextNode(msg.message) : newMessageMessage = document.createTextNode(msg.message.question);
        
        newChatDivContainer.setAttribute('class', `${user == "client" ? 'chat-message-user mt-2' :'chat-message-server mt-2'}`);
        newChatMessageUname.setAttribute('class', 'chat-message__uname');
        newChatMessageDate.setAttribute('class', 'chat-message__date');
        newChatMessageMessage.setAttribute('class', 'chat-message__message');
        
        newChatDivContainer.appendChild(newMessageDiv);
        newChatMessageUname.appendChild(newMessageUname);
        newChatMessageDate.appendChild(newMessageDate);
        newChatMessageMessage.appendChild(newMessageMessage);

        newMessageDiv.appendChild(newChatMessageUname);
        newMessageDiv.appendChild(newMessageDate);
        newMessageDiv.appendChild(newChatMessageMessage);
        
      // IF PRE DEFINED ANSWERS AVALIABLE HIDE CHAT TEXT INPUT OR REMOVE IF NOT
        if(msg.message.answers){
          addAnswers(msg.message.answers)
          document.getElementById("message").hidden = true
          document.getElementById("btn-send").hidden = true
        }else if(!msg.message.answers){
          let container = document.getElementById("answers-list")
          let child = document.getElementById("answers-box")
        if(child){
          container.removeChild(child)
        }
      }

      //ADD NEW ELEMENTS TO THE CHAT BOX
        chatHistory.appendChild(newChatDivContainer); 
        document.getElementById("chat-history").scrollTo(0, 100000000);
}


// ADD BUTTON ELEMENTS FOR THE PRE DEFINED OPTIONS BUTTONS
async function addAnswers(answers){
  console.log(answers);
  let container = document.getElementById("answers-list")
  let child = document.getElementById("answers-box")
  if(child){
      container.removeChild(child)

  }
  let answersDiv = document.createElement("div")
  answersDiv.setAttribute("id", "answers-box")

  await answers.forEach(answer => {
  let chatAnswers = document.getElementById("answers-list");
    

  let newAnswerButton = document.createElement("button")
  let answerText = document.createTextNode(answer)
  
  newAnswerButton.setAttribute("class", "btn btn-secondary m-2")
  newAnswerButton.setAttribute("value", answer)
  newAnswerButton.setAttribute("onclick", "sendMessageToServerButton(value)")
  newAnswerButton.appendChild(answerText)
  answersDiv.appendChild(newAnswerButton)
  chatAnswers.appendChild(answersDiv)
 
  });
}

// SEND RESPONSES FROM PRE DEFINED BUTTON OPTIONS TO THE SERVER
function sendMessageToServerButton(message){
        socket.emit("msgClient", message)
    }

// SEND TYPED RESPONSES TO THE SERVER
  function sendMessageToServer(){
        let message = document.getElementById("message").value;
        socket.emit("msgClient", message)
        document.getElementById("message").value =""
        document.getElementById("btn-send").disabled = true;
    }

  // RECIEVE SOCKET WITH DATABASE OBJECT TO ADD FULL DETAIL TO CHAT INCLUDING DATE AND TIME OF MESSAGE
    socket.on("addToChat", (msg)=>{
      addNewMessage(msg, "client")
      })    

  // RECIEVE SOCKET WITH OBJECT FOR MESSAGES CREATED BY SERVE TO ADD TO CHAT BOX FULL DETAIL TO CHAT INCLUDING DATE AND TIME OF MESSAGE
    socket.on("serverResponse", (msg)=>{
        addNewMessage(msg, "server")
        console.log(msg);
    })

    // RECEIVE ORIGINAL START MESSAGE FROM SERVER UPON CONNECTION CREATED WHEN BY OPENING PAGE
    socket.on("serverConnected", (msg)=>{
        addNewMessage(msg, "server")
        console.log(msg);
    })

    // RECEIVE THE FINAL PERSONALISED RESPONSE FROMS SERVER WITH APPOINTMENT TIME AND USER NAME
    socket.on("signoff", (msg)=>{
      addNewMessage(msg, "server")
    })

    // ENABLE SEND BUTTON WHEN TYPING RESPONSE
    function unBlockSend(){
      document.getElementById("btn-send").disabled = false;
    }
    </script>

    <title>Chat Portal</title>
</head>
<body>
    <div class="center-text">
        <h2 class="header m-5">CHAT ROOM</h2>
      <div id="chat-history" class="chat-box">
        <ul></ul>
      </div>
    <div id="answers-list"></div>
    <textarea name="" id="message" class="message" cols="65" rows="3" placeholder="Type msg here" onchange="unBlockSend()"></textarea><br>
      
    <div class="mb-3">
      <button class="btn btn-success btn-send" id="btn-send" onclick="sendMessageToServer()" disabled>Send!</button>
    </div>
     <!-- LINK FOR FETCHING ROUTE AND DOWNLOAD CHAT HISTORY -->
      <a href="/chat/downloadChatHistory"><button class="btn btn-secondary" id="chat-download-btn">Download Chat!</button>  </a> 
    </div>
</body>
</html>